* {
    margin: 0;
    padding: 0;
}
@font-face {
  /*フォントの名前*/
  font-family: "hira";
  src: url("/font/ロゴたいぷゴシックCondense.woff2") format("woff2"),
       url("/font/ロゴたいぷゴシックCondense.woff") format("woff");
}
h1{
    font-family: 'Crimson Text', serif;
    color:#AF7D71;
    font-size: 30px;
    margin: 0 auto 10px;
}

h2,h3,h4,p{
  font-family: "hira";
    color:#AF7D71;
}
h2{margin:0 auto;}
p{width:38vw;
margin:0 auto;}

body{
    background-color: #F4F7EB;
}
a{
    text-decoration: none;
}

section{
    overflow: hidden;
    width: 90vw;
    display: flex;
    flex-direction:column;
    border-style: dashed;
    border-radius: 20px;
    border-color: #AF7D71;
    margin:60px auto 0px;
    padding-bottom: 30px;
}


section.degital{
 background:rgba(39,188,192,0.3);
}

section.film{
 background:rgba(237,188,192,0.5);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width:100vw;
}
.menu,.scroll{
    display:none;
}


ul{
    display:flex;
}

ul li{
    list-style: none;
    margin:10px auto;
}


img.navi{
    width:180px;
}

#top img{
    width:90vw;
    margin:auto;
}


@media screen and (max-width:479px){
    nav{
        display: none;
    }
    .menu,.scroll{
        display:flex;
        flex-direction: column;
        margin:30px auto;
    }
    .menu img{
        width:20vw;
    }
    .scroll{
        width:60vw;
        margin-top: 40px;
        padding-bottom: 20px;
    }
    .arrow{
        height:40vh;
        margin:auto;
    }
}



.logo{
    margin:20px auto 10px;
}
.logo img{
    width:350px;
}

.contents{
    display: flex;
    margin:0px　auto;
    justify-content: space-around;
}

/*choose*/
.leftbox{
    width:40vw;
    height: auto;
/*    background-color: #8BBCC0;*/
    background:rgba(39,188,192,0.3);
    border-style: dashed;
    border-radius:20px;
    border-color:#29ABE2;
    margin-right:40px;
}

.rightbox{
    width:40vw;
    height: auto;
/*    background-color: #EDBCC0;*/
    background:rgba(237,188,192,0.5);
    border-style: dashed;
    border-radius:20px;
    border-color:#FF7BAC;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 3vw;
}
.chooseimg{
    width:35vw;
    height:auto;
    margin: auto;
}

@media screen and (max-width:479px){
    .logo img{
    width:80vw;
}
    .leftbox{
        margin:auto;
    }
    h1{
    font-size: 20px;
    margin: 0 auto 10px;
}
}

/*function*/

h2{
    margin-bottom: 15px;
}

.function_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0px 10px 30px;
}

.imagebox img{
    width:20vw;
    height:auto;
}
@media screen and (max-width:479px){
    .function{
        display:flex;
        flex-direction: column;
    }
    .imagebox{
        text-align: center;
    }
    .imagebox img{
        width:40vw;
        height:auto;
    }
    p{width:85vw;
margin:0 auto;}
}
/*garally*/
#garally{
    margin-bottom: 50px;
}

.swiper-slide img{
    margin:0 10%;
    width:80%;
}
.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23AF7D71'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23AF7D71'%2F%3E%3C%2Fsvg%3E");
}
/*degitalページ用*/
@media screen and (max-width:479px){
#toplogo img{
    width:95vw;
    margin:20px auto;
}  
}

.degital .contents{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.uppercontents{
    width:80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.smallcontents{
    display:flex;
    flex-direction: column;
    width:38vw;
}

.smallcontents img{
    width:auto;
    height: 10vh;
    margin:auto;
}
.smallcontents p{
    font-size: 20px;
    line-height:30px;
    width:35vw;
    margin-top:15px;
    padding:20px;
    background:rgba(237,245,236,0.6);
    border-radius: 10px;
}


.bottomcontents{
    padding-top: 10px;
    display:flex;
    flex-direction:column;
    margin:auto;
}

.bottomcontents img{
    width:auto;
    height:10vh;
    margin:auto;
}

.recontents{
    display:flex;
    width:80vw;
    margin-top:15px;
    padding:20px;
    background:rgba(237,245,236,0.4);
    border-radius: 10px;
}
.recontents img{
    height:20vh;
}
h3{
    font-size: 20px;
}
.recontents p{
    font-size:20px;
    padding-top: 15px;
    color:#3D7390;
}
.topbutton{
    display:none;
}

@media screen and (max-width:479px){
    .uppercontents{
    flex-direction: column;
        justify-content: center;
}
    .smallcontents{
        width:80vw;
    }
    .smallcontents img{
    height: 10vh;
        width:auto;
        margin:10px auto;
}
    .smallcontents p{
        width:70vw;
    }
    .bottomcontents img{
    width:70vw;
    height:auto;
    }
    .recontents{
        padding:10px;
        width:85vw;
    }
    .recontents img{
        width:30vw;
    }
    .recontents p{
        width:50vw;
    font-size:10px;
    padding-top: 15px;
    color:#3D7390;
}
    .topbutton{
        display:inline;
    }
    .topbutton img{
        width: 90vw;
        margin: 30px 5vw ;
    }
}


/*Filmページ用*/
.film .contents{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.film .recontents p{
    color:#E1809D;
}



